{{template "header.html" .}}

<div class="ui container">
    <div class="ui mobile reversed stackable grid">
        <div class="four wide column">
            {{template "sidebar.html" .}}
        </div>
        <div class="twelve wide column">
            <div class="ui padded segment">
                <a href="/" class="ui large basic button"><i class="long arrow alternate left icon"></i>{{$.Info.Name}}</a>
                <div class="ui hidden divider"></div>
                {{range $post := $.Posts}}
                    <!-- post -->
                    <div class="post">
                        <div class="ui large right floated horizontal divided link list">
                            {{if $post.Tweet}}
                                <a class="item" href="https://twitter.com/{{$.Info.Twitter.ID}}/status/{{$post.Tweet}}"><i class="brand twitter square icon"></i></a>
                            {{end}}
                            {{if $.Admin}}
                                {{if eq $.Post.ID $post.ID}}
                                    <a href="/admin/posts/delete/{{$post.ID}}?f={{$.Post.ID}}" class="item confirm" data-prompt="Delete post?"><i class="grey trash icon"></i></a>
                                {{end}}
                            {{end}}
                        </div>
                        <a href="/posts/{{$post.ID}}" class="post-header">
                            <img src="/profile">
                            {{$.Info.Name}} <span title="{{date $post.Created}}">&nbsp; {{dateshort $post.Created}}</span>
                        </a>
                        <div class="post-body">
                            {{enhance $post.Body}}
                        </div>
                    </div>
                    <!-- post -->
                {{end}}

                {{if $.Admin}}
                    <div class="ui hidden section divider"></div>
                    <form id="post-form" class="ui large form post-form" action="/admin/posts/add" method="POST">
                        <input type="hidden" name="in_reply_to_status" value="{{$.PostParent.Tweet}}">
                        <input type="hidden" name="parent" value="{{$.PostParent.ID}}">
                        <div class="field">
                            <textarea name="body" class="post-form-body" rows="5" maxlength="280" placeholder="Add another post"></textarea>
                        </div>
                        <div class="equal width fields">
                            <div class="field mobile hidden"></div>
                            <div class="field mobile hidden"></div>
                            <div class="field right-aligned">
                                <a title="Add another update" class="add-body-button ui large basic icon button"><i class="ui brand plus circle icon"></i></a>
                                <button type="submit" class="ui large brand button">Post</button>
                            </div>
                        </div>
                    </form>
                    <div class="ui hidden divider"></div>
                {{end}}

            </div>
        </div>
    </div>

</div>

{{template "footer.html" .}}
