
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        {{if eq $.Section "index" "posts/view"}}

            <div class="ui container">
                <div class="ui stackable grid">
                    <div class="four wide column">&nbsp;</div>
                    <div class="twelve wide column">

                        <div class="center-aligned">
                            <div class="ui horizontal list">
                                <div class="item">&copy; Copyright &mdash; All Rights Reserved</div>
                            </div>

                            <div class="ui hidden clearing divider"></div>
                            
                            <div class="ui horizontal divided list">
                                <a class="item" target="_blank" href="https://github.com/nanoblog/nanoblog">Powered by Nanoblog</a>
                                <a class="item" target="_blank" href="https://portal.cloud/">Portal Cloud OpenSaaS application</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            {{safehtml $.Info.Snippet}}
        {{end}}

        <script>
            $(document).ready(function() {
                $('.ui.dropdown').dropdown();
                $('.ui.checkbox').checkbox();
                $('.menu.item').tab();


                {{if $.Request.FormValue "success"}}
                    window.history.replaceState({}, document.title, window.location.href.split('?')[0]);
                {{end}}

                {{if $.Request.FormValue "error"}}
                    window.history.replaceState({}, document.title, window.location.href.split('?')[0]);
                {{end}}

                $('.confirm').on('click', function() {
                    return confirm($(this).data('prompt'));
                });
            });

        </script>

        {{if eq $.Section "index" "posts/view"}}
            <script>
                $(document).ready(function() {
                    $(document).on('click', '.remove-body-button', function() {
                        $(this).parent().parent().remove();
                    });

                    $('.add-body-button').click(function() {
                        var fieldHTML = '<div class="field">';
                        fieldHTML += '<div class="ui hidden divider"></div>';
                        fieldHTML += '<textarea name="body" class="post-form-body" rows="5" maxlength="280" placeholder="Add another post"></textarea>';
                        fieldHTML += '<br><br>';
                        fieldHTML += '<div class="right-aligned">';
                        fieldHTML += '<a class="remove-body-button ui small basic icon button"><i class="grey trash icon"></i></a>';
                        fieldHTML += '</div>';
                        fieldHTML += '</div>';
                        $(this).parent().parent().before(fieldHTML);
                    });
                });
            </script>
        {{end}}

    </body>
</html>
