{{template "header.html" .}}

{{$query := $.Request.FormValue "q"}}

<div class="ui container">
    <div class="ui mobile reversed stackable grid">

        <div class="four wide column">
            {{template "sidebar.html" .}}
        </div>

        <div class="twelve wide column">
            <div class="ui padded segment">
                {{if $query}}
                    <a href="/" class="ui large basic button"><i class="long arrow alternate left icon"></i>Search results for &quot;{{$query}}&quot;</a>
                    <div class="ui hidden divider"></div>

                    {{if not $.Posts}}
                        <div class="ui center aligned grey header">No posts found</div>
                    {{end}}

                {{end}}

                {{if not $query}}
                    {{if $.Admin}}
                        <form id="post-form" class="ui large form post-form" action="/admin/posts/add" method="POST">
                            <div class="field">
                                <textarea name="body" class="post-form-body" rows="5" maxlength="280" placeholder="Add a post"></textarea>
                            </div>
                            <div class="equal width fields">
                                <div class="field mobile hidden"></div>
                                <div class="field mobile hidden"></div>
                                <div class="field right-aligned">
                                    <a title="Add another update" class="add-body-button ui large basic icon button"><i class="ui brand plus circle icon"></i></a>
                                    <button type="submit" class="ui large brand button">Post</button>
                                </div>
                            </div>
                        </form>
                        <div class="ui hidden divider"></div>
                    {{end}}
                {{end}}

                {{if $.Posts}}
                    {{range $post := $.Posts}}
                        <!-- post -->
                        <div class="post">
                            <div class="ui large right floated horizontal divided link list">
                                {{if $post.Tweet}}
                                    <a class="item" href="https://twitter.com/{{$.Info.Twitter.ID}}/status/{{$post.Tweet}}"><i class="brand twitter square icon"></i></a>
                                {{end}}
                            </div>
                            <a href="/posts/{{$post.ID}}" class="post-header">
                                <img src="/profile">
                                {{$.Info.Name}} <span title="{{date $post.Created}}">&nbsp; {{dateshort $post.Created}}</span>
                            </a>
                            <div class="post-body">
                                {{enhance $post.Body}}
                            </div>

                            {{if $post.Thread}}
                                <a href="/posts/{{$post.ID}}" class="ui basic button">Show this thread</a>
                            {{end}}
                            <!-- post -->
                        </div>
                    {{end}}

                    {{if not $query}}
                        {{$showall := $.Request.FormValue "all"}}
                        <div class="center-aligned">
                            <div class="ui hidden section divider"></div>
                            {{if eq $showall "yes"}}
                                <a href="/" class="ui small basic button">Show threaded</a>
                            {{else}}
                                <a href="/?all=yes" class="ui small basic button">Show all</a>
                            {{end}}
                        </div>
                    {{end}}

                {{else}}
                    <div class="ui center aligned grey header">There are no posts yet.</div>
                {{end}}
            </div>
        </div>
    </div>


</div>


{{if 0}}
    <!--div class="right-aligned">
    <span id="countdown">280</span>
    </div-->

    <!--script>
        function updateCountdown() {
            var remaining = 280 - $('#body').val().length;
            $('#countdown').text(remaining);
        }
        $(document).ready(function() {
            $('#body').change(updateCountdown);
            $('#body').keyup(updateCountdown);
        });
    </script-->
{{end}}

{{template "footer.html" .}}
